<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>CampusCal Map View</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head> 
<body>
  <div id="map" style="width: 1250px; height: 750px;"></div>

  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <script type="text/javascript">



                var locations = [

            {% for recent_event in recent_events %}
                ['{{recent_event.title}}',{{recent_event.lat}},{{recent_event.lng}}, {{recent_event.id}}],
            {% endfor %}

                  ['Illini Union', 40.109789, -88.227261, 1],
                  ['Ilsdf', 41.109789, -88.227261, 1]
                ];


                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 8,
                  center: new google.maps.LatLng(40.1111379802915,-88.2259120197085),
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {  
                  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                  });

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                    }
                  })(marker, i));
                }
   </script>
  

  </head>
  <body>
  </body>
</html>