{% extends "base.html" %}
{% block content %}

<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <h3>{{user.first_name }} {{user.last_name}}</h3>
                <h4>Prefers: {{pref1}} and {{pref2}}</h4>
                    <br>
                <div class="l-box splash-image">
                    <img src="http://graph.facebook.com/{{ user.profile_or_self.facebook_id }}/picture?type=large"
                         alt="Placeholder image for example." class="img-circle prof_pic">
                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="l-box splash-text">
                    <h2>We Suggest...</h2>
                    
                       {% for suggest_event in suggest_events %}

                        <div class="well">

                                <h3>{{suggest_event.title}}</h3>
                                <p>{{suggest_event.description}}</p>
                                <h4>{{suggest_event.location}}</h4>
                                <h5>{{suggest_event.date}} at {{suggest_event.time}} </h5>

                        </div>

                        {% endfor %}

                </div>
            </div>

            <div class="pure-u-1-4">
                <div class="l-box splash-text">
                    <h2>Events I'm Going To</h2>
                    <a href='/recent/'>Most Recent Events</a>
                       {% for my_event in my_events %}

                        <div class="well">

                                <h3>{{my_event.title}}</h3>
                                <p>{{my_event.description}}</p>
                                <h4>{{my_event.location}}</h4>
                                <h5>{{my_event.date}} at {{my_event.time}} </h5>
                                {% if fid == my_event.host %}
                                    <a class="pure-button pure-button-primary" href='/event/update/{{my_event.id}}/'>Update</a>
                                    <a class="pure-button pure-button-primary" href='/event/delete/{{my_event.id}}/'>Delete</a>
                                {% else %}
                                    <a class="pure-button pure-button-primary" href='/event/going/{{my_event.id}}/'>Not Going</a>

                                {% endif %}
                            </tr>

                        </div>

                        {% endfor %}

                </div>
            </div>

                <div class="pure-u-1-4">
                <div class="l-box splash-text">
                    <h2>My Events</h2>
                    <a href='/save/'>Add An Event</a>
                    
                       {% for created_event in created_events %}

                        <div class="well">

                                <h3>{{created_event.title}}</h3>
                                <p>{{created_event.description}}</p>
                                <h4>{{created_event.location}}</h4>
                                <h5>{{created_event.date}} at {{created_event.time}} </h5>
                                {% if fid == created_event.host %}
                                    <a class="pure-button pure-button-primary" href='/event/update/{{created_event.id}}/'>Update</a>
                                    <a class="pure-button pure-button-primary" href='/event/delete/{{created_event.id}}/'>Delete</a>
                                {% else %}
                                    <a class="pure-button pure-button-primary" href='/event/going/{{created_event.id}}/'>Not Going</a>

                                {% endif %}
                            </tr>

                        </div>

                        {% endfor %}

                </div>
            </div>


        </div>
    </div>

    
</div>

{% endblock %}
