{% extends "base.html" %}
{% block content %}

<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-3">
                <h3>{{user.first_name }} {{user.last_name}}</h3>
                <div class="l-box splash-image">
                    <img src="http://graph.facebook.com/{{ user.profile_or_self.facebook_id }}/picture?type=large"
                         alt="Placeholder image for example.">
                </div>
            </div>

            <div class="pure-u-2-3">
                <div class="l-box splash-text">
                    <p>
                        <!-- for loop for events -->
                            {% for my_event in my_events %}

                            <tr>
                                <td>{{my_event.title}}</td>
                                <td>{{my_event.description}}</td>
                                <td>{{my_event.location}}</td>
                                <td>{{my_event.date}}</td>
                            </tr>

                            {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock %}
