{% extends "base.html" %}
{% block content %}

<div class="pure-skin-mine">
    <div class="splash">
        <div class="pure-g-r">
            

            <div class="pure-u-4-5">
                <div class="l-box">
                    <h3>Most Recent Events Happening At University of Illinois Urbana-Champaign</h3>

                        {% for recent_event in recent_events %}

                        <div class="well">

                                <h3>{{recent_event.title}}</h3>
                                <p>{{recent_event.description}}</p>
                                <h4>{{recent_event.location}}</h4>
                                <h5>{{recent_event.date}} at {{recent_event.time}} </h5>
                                <a class="pure-button pure-button-primary" href='/event/going/{{recent_event.id}}/'>Going</a>

                        </div>

                        {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g-r">
            
        </div>

        <div class="l-box ribbon">
            <h2>Get started now.</h2>
            <a href="#" class="pure-button primary-button">Sign up</a>
        </div>
    </div>
</div>

{% endblock %}




